<div class="jumbotron">
    <h1>SISUNI-UNIODONTO CAMPINAS</h1>
    <p class="lead">Api de Serviço Beneficiário</p>
    <div class="row">
        <div class="col-md-6">
            <p><a href="~/swagger" class="btn btn-primary btn-lg">Swagger/Link interno &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <p><a href="https://servico.uniodontocampinas.com.br/servicos/sisuni-api/api-beneficiario/swagger" class="btn btn-warning btn-lg">Swagger/Link Externo &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Autenticação</h2>
            <p>Api utiliza autenticação básica no cabeçalho HTTP, consulte área de sistemas para saber mais.</p>
            <p><a class="btn btn-default" href="https://docs.microsoft.com/pt-br/aspnet/web-api/overview/security/basic-authentication">Referência &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2>Utilização</h2>
            <p>"Aplicação de uso para Mobile e Área restrita do beneficiário"</p>
            <p><a class="btn btn-default" href="https://www.luiztools.com.br/post/o-que-e-um-micro-servico-ou-microservice/">Referência &raquo;</a></p>
        </div>
    </div>
</div>
